
@font-face{
    font-family: "PT sans";    
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/ptsans-400.woff2) format("woff2");
    font-display: swap;
}

@font-face{
    font-family: "PT sans";  
    font-weight: 700;
    font-style: normal;
    src: url(../fonts/ptsans-700.woff2) format("woff2");
    font-display: swap;
}
.html{
    height: 100%;
}
body{
    margin: 0 auto;
    padding: 0;
    min-height: 100%;
    max-width: 1280px;    
    font-family: "PT sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    background-color: #f2f2f2;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
h1, h2, h3, p{
    text-align: center;
    font-style: normal;
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.button{
    font-family: inherit;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;   
    height: 37px;
    display: inline-block;
    border-radius: 4px;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
}
.btn-go-to, .search-button{
    background-color: #756257;
}
.btn-mailing, .btn-add, .btn-sub, .btn-more,
.btn-modal-saerch{
    background-color: #83B3D3;
}
.btn-go-to{
    width: 151px;
    line-height: 36px;
}
.btn-mailing, .search-button{
    font-weight: 700;
    font-size: 20px;
    height: 60px;
}
.search-button,
.btn-modal-saerch{
width: 575px;
line-height: 36px;
border-radius: 10px;
}
.btn-mailing{
    width: 200px;
    line-height: 26px;
    border-radius: 0px 10px 10px 0px;
}
.btn-add, .btn-sub{
    width: 160px;    
}
.btn-sub{
    height: 48px;
    margin-bottom: 25px;
}
.btn-reset{
    background-color: transparent;
}
.btn-more{
    width: 625px;
    height: 55px;
    margin: 0 auto 30px;
}
.btn-old-add{
    width: 400px;
    height: 60px;
    border-radius: 0 0 20px 20px;
    background-color: #756257;
}
/* состояния */
.btn-go-to:hover, .search-button:hover{
    background-color: #615048;
}
.btn-mailing:hover, .btn-add:hover,
.btn-sub:hover, .btn-more:hover,
.pagination-link:hover,
.btn-modal-saerch{
    background-color:  #68A2CA;
}
.btn-reset:hover{
    color:rgba(255, 255, 255, 0.6);
}
.btn-go-to:focus, .search-button:focus,
.btn-reset:focus{
    outline:3px solid #83B3D3;
}
.btn-mailing:focus, .btn-add:focus,
.btn-more:focus, .pagination-link:focus,
.btn-modal-saerch:focus{
    outline: 3px solid #756257;
    background-color: #68A2CA;
}
}
.btn-sub:focus{
    outline: 3px solid #fff;
    background-color: #68A2CA;
}
.btn-mailing:active, .btn-add:active,
.btn-sub:active, .btn-more:active,
.pagination-link:active,
.btn-modal-saerch:active{
   opacity: 0.6;
}
.btn-go-to:active, .search-button:active, .btn-reset:active{
    background-color: #615048;
    color:rgba(255, 255, 255, 0.3);
    outline-color: transparent;
}
/* header */
.page-header,  .page-footer{
    color: #000;
    background-color: #fff;
}
.page-header-container{
    display: flex;
    justify-content: space-between;
    padding: 0 70px 0 58px;
    min-height: 70px;
    position: relative;
}
.page-header-container .navigation-logo{ /* размещение логотипа по-центру */
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.page-header-container > a{/*ссылка вокруг логотипа на странице "catalog.html"*/
    width: 138px;
    height: 66px;
    padding: 0;
    position: relative;
    right: 50px;
}
.navigation, .user-menu{
    display: flex;
    align-items: center;
}
.navigation-list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.navigation-link{
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    color: #000;
    background-color: #fff;
    text-decoration: none;
    padding: 6px 12px;
    display:block;
}
.navigation-item:not(:last-child){
    margin-right: 11px;
}
.navigation-item:first-child,
.navigation-item:last-child{
    position: relative;
}
.active::after{/*указатель активной страницы*/
    content: "";
    position: absolute;
    left: 12px;
    right: 12px;
    bottom: -18px;
    border: 2px solid #756257;
}
.user-menu-item{
    margin-right: 5px;
}
.user-menu-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
}
.user-menu-icon {
    fill: #000;
}
.user-menu-item:nth-child(2){
    margin-right: 20px;
}
.user-menu-item:nth-child(2) .user-menu-icon{
   align-self: start;
}
.navigation-link:hover{
    color: #756257;
}
.user-menu-link:hover .user-menu-icon{
    fill: #756257;
}
.navigation-link:focus, .user-menu-link:focus{
    color: #756257;
    outline:3px solid #83B3D3;
    border-radius: 10px;
}
.user-menu-link:focus .user-menu-icon{
    fill: #756257;
}
.navigation-link:active,.user-menu-link:active{
    color: rgba(117, 98, 87, .3);
    outline-color: transparent;
}
.user-menu-link:active .user-menu-icon{
    fill: rgba(117, 98, 87, .3);
}
/* popover */
.user-menu-item:nth-child(2){
    position: relative;
}
.popover-cart{
    width: 400px;
    position: absolute;
    z-index: 2;
    right: 50%;
    transform: translateX(50%);
    top:50px;
    box-sizing: border-box;
    border: 1px solid #E6E6E6;
    box-shadow: 0px 25px 50px;
    border-radius: 20px;
    background-color: #fff;
    display: grid;
    grid-template-rows: 1fr auto;
    display: none;        
}
.popover-open {
    display: block;
}
.popover-cart::before{
    content: "";
    position: absolute;
    width: 1px;
    height: 1px;
    left: 185px;
    top: -10px;
    border-top: 10px solid #fff;
    border-right: 10px solid #fff;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
    transform: rotate(-45deg);
}
.popover-content{   
    padding: 25px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 25px 17px;
}
.popover-title{
    font-weight: bold;
    text-align: left;
}
.popover-appartment{
    font-size: 16px;
    color: #333;
}
.popover-img{
    border-radius: 50%;
}
.popover-icon:hover{
    cursor: pointer;
}
/* the end popover */
/** the end header **/
/* section main-top */
.main-container{
    flex-grow: 1;
}
.wrap-figure{
    background-image: url(../images/foto/bgtop.jpg);/* фон. фотография для секции */
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 51px;
}
.wrap-figure::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 57px;
    background-image: url(../images/icons/divider.svg);
}
.main-top-figure{
    display: flex;
    width: 458px;
    height: 352px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
}
.figure-vector:first-child{
    margin-bottom: 10px;
}
.figure-vector:nth-child(2){
    margin-bottom: 55px;
}
.wrap-title{
    background-color:  #fff;
    padding: 63px;
}
.main-top-title{    
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 23px;
  }
.main-top-caption{
   font-weight: 400;
   font-size: 22px;
   line-height: 36px;
   margin-bottom: 25px;
}
/* the end section main-top */
/* section advantages */
.advantages-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.advantages-item:nth-child(2){
    grid-column: 2/4;
}
.advantages-item:nth-child(6){
    grid-column: 1/3;
}
.advantages img{
    width: 100%;
    height: auto;
    display: block;
}
.advantages-item{
    position: relative;
    background-color: #83B3D3;
    min-height: 384px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}   
.advantages-item:nth-child(2), .advantages-item:nth-child(6){
	padding:0;
}
.advantages .advantages-item__white{
    color:#fff;
}
.advantages-title{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 25px;
}
.advantages-namber{
    margin-bottom: 25px;
}
.advantages-description, .advantages-namber{
    font-weight: 400;    
}
.advantages-item:nth-child(3),
.advantages-item:nth-child(5),
.advantages-item:nth-child(8),
.advantages-item:nth-child(10){
    background-color: rgba(131, 179, 211, .12);

}
.advantages-item:nth-child(9){
    background-color: rgba(131, 179, 211, .2);
}
.advantages-item:nth-child(3) .advantages-title,
.advantages-item:nth-child(4) .advantages-title,
.advantages-item:nth-child(5) .advantages-title{
   margin-bottom: 20px;
}
.advantages-item:nth-child(3)::before,
.advantages-item:nth-child(4)::before,
.advantages-item:nth-child(5)::before{
    display: flex;
    justify-content: center;
    margin-bottom: 23px;
}
.advantages-item:nth-child(3)::before{
    content: url(../images/icons/hous-icon.svg);
}
.advantages-item:nth-child(4)::before{
    content: url(../images/icons/burger-icon.svg);   
}
.advantages-item:nth-child(5)::before{
    content: url(../images/icons/present-box-icon.svg);
}
.advantages-item:nth-child(4){
    background-color: #fff;
}
/* the end section advantages */
/* section main-search */
.main-search{
    background-color: #fff;
    padding: 90px 0;
}
.main-search-title{   
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 15px;
}
.main-search-caption{
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 70px;
}
.main-search-form{
    display: flex;
    justify-content: center;
}
/* the end section main-search */
/* mailing */
.mailing{
    background-image: url(../images/foto/bg-mailing.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    color:#fff;
    padding: 93px;
}
.mailing-title, .catalog-mailing-titel{
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 30px;
}
.mailing-caption, .catalog-mailing-text{
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 45px;
}
.mailing-form{
    display: flex;
    justify-content: center;
}
.mailing-text{
    width: 600px;
    height: 58px;
    border-radius:  10px 0px  0px 10px;
    border: none;
    background-color: #F2F2F2;
}
.mailing-text:hover{
    background-color: #E6E6E6;
}
.mailing-text:focus{
   outline: 3px solid #83B3D3;
}
.mailing-text:active{
    background-color: #E6E6E6;
    outline: 2px solid #000000;
}
.mailing-text[placeholder]{
    font-size: inherit;
    line-height: 26px;
    padding-left: 22px;
}
/* the end mailing */
/* footer */
.page-footer-container{
    min-height: 120px;
    padding: 0 70px;
    display: flex;
    justify-content: space-between;
}
.footer-social, .footer-social-list{
    display: flex;
    align-items: center;
}
.footer-social-item{
    margin-right: 5px;
}
.footer-social-link{
    width: 40px;
    height: 42px;
    display: block;
    background-color: #fff;
    position: relative;    
    background-repeat: no-repeat;
    background-position: center;
}
.footer-social-icon{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    fill: #83B3D3;
}
.footer-social-link:hover .footer-social-icon{
    fill: #68A2CA;
}
.footer-social-link:active .footer-social-icon{
    fill: #68A2CA;
    opacity: 0.3;
}
.footer-contact{
    display: flex;
    align-items: center;
}
.footer-contact-phone{
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    padding: 15px;    
}
.footer-logo{
    display: flex;
    align-items: center;
}
.footer-logo-link{
    display: block;
    padding: 10px;
}
.footer-logo-icon{
    fill: #000;
}
.footer-contact-phone:hover{
    color: #756257;
}
.footer-logo-link:hover .footer-logo-icon{
    fill:#756257;
}
.footer-social-link:focus, .footer-contact-phone:focus,
.footer-logo-link:focus{
    outline:3px solid #83B3D3;
    border-radius: 10px;
}
.footer-contact-phone:active,
.footer-logo-link:active{
    opacity: 0.3;
}
/* the end footer */
/* modal window*/
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(242, 242, 242, 0.8);
}  
.modal {
    position: relative;
    margin: auto;
    background-color: #FFFFFF;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
}
.modal-order{
    box-sizing: border-box;
    width: 715px;
    padding: 70px;
}
.modal-content-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}
.modal-title{
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
    color: #000;
}
.modal-form-group{
    margin-bottom: 40px;
}
.item-group-row{
    display: flex;
    justify-content: space-between;
}
.modal-control{
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 40px;
    text-align: left;
    color: #000000;
}
.item-group-wrep{
    display: flex;
    width: 420px;
    flex-wrap: wrap;
}
.modal-form-field{
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
    color: #000;
    padding: 0 20px;
    border: none;
    border-radius: 4px;
    background-color: #F2F2F2;
    flex-grow: 1;
}
.modal-input-caption{
    font-size: 16px;
    line-height: 29px;    
}
.item-group-row:first-child .modal-input-caption{
    color: #FF5757;
}
.modal-form-field[type="number"]{
    width: 33px;
    padding: 0;
}
.item-group-row:last-child > .modal-control{
    margin-right: 20px;
}
.item-group-row:not(:last-child){
    margin-bottom: 10px;
}
.item-group-row > p{
    display: flex;
    width: 133px;
    height: 50px;
}
.form-toggle-plus,
.form-toggle-minus{
    padding: 0;
}
.form-toggle-plus{
    border-radius: 4px 0 0 4px;
}
.form-toggle-minus{
    border-radius: 0 4px 4px 0;
}
.popover-order{
    display: block;
}
.modal-close-button {
    width: 53px;
    height: 53px;
    padding: 0;
    background-color: #f2f2f2;
    border: none;
    border-radius: 50%;
    background-image: url("../images/icons/close.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.order-info{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #83B3D3;
    border: none;
}
.btn-modal-saerch{
    height: 80px;    
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    text-transform: uppercase;
    color: #FFFFFF;
}
/* the end modal window*/
/** the end index **/
/* ctalog */
.catalog{
    background-color: white;
    color: #333333;
}
/* catalog-search */
.catalog-search{
    background-image: url(../images/foto/bg-search-filer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    margin-bottom: 45px;/* толкаем sorting вниз*/
}
.filter-container{
    display: flex;
    flex-direction: column;
    padding: 35px 70px 80px 70px;
}
/* filter-header */
.filter-header{
    margin-bottom: 45px;/* толкаем форму вниз */
}
.filter-header-title{
    font-size: 60px;
    line-height: 68px;
    text-align: left;
}
.breadcrumbs{
display: flex;
align-items: center;
position: relative;
left: -6px;/* компенсируем padding для outline при фокусе */
}
.breadcrumbs-item{
    font-size: 16px;    
    margin-right: 2px;
}
.breadcrumbs-link{   
    color: #fff;
    text-decoration: none;
    display: flex;    
}
.breadcrumbs-item:first-child .breadcrumbs-link::before{
    content: url(../images/icons/home.svg);
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.breadcrumbs-item:nth-child(2)::after{
    content: url(../images/icons/shevron.svg);
    display: flex;
    align-items: center;
    opacity: .6;
}
.breadcrumbs-link:hover{
    opacity: 0.6;
}
.breadcrumbs-link:focus{
    outline: 3px solid #83B3D3;
    border-radius: 4px;
}
.breadcrumbs-link:active{
    opacity: 0.3;
}
.breadcrumbs-item:last-child .breadcrumbs-link{
    padding: 3px 8px;
}
/* the end filter-header */
/* form > catalog-filter */
.catalog-filter{
    display: flex;
}
.catalog-filter-group{
    margin: 0;
    padding: 0;
    border: 0;
}
.catalog-filter-group:first-child{
    margin-right: 67px;
}
.catalog-filter-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 30px;
}
.catalog-filter-item:not(:last-child){
    margin-bottom: 16px;
}
/* Control */
.control {
    position: relative;
    display: block;
    padding-left: 40px;
}
  
  /* Mark */
.control-mark {
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    border-radius: 4px;
    cursor: pointer;
}
.catalog-filter-group:first-child .control:hover .control-mark{
    background-color: rgba(255, 255, 255, 0.6);
}
.control-input[type="checkbox"]:focus + .control-mark,
.control-input[type="radio"]:focus + .control-mark{ 
    background-color: rgba(255, 255, 255, 0.6);  
    outline: 3px solid #83B3D3;
}
.control-mark:active{
    background-color: rgba(255, 255, 255, 0.3);
}
.control-input[type="checkbox"]:checked + .control-mark::before{
    content: url(../images/icons/mark.svg);
    position: relative;
    left: 4px;
    bottom: 2px;   
}
.catalog-filter-group:nth-child(2){
    margin-right: 167px;
}
.control-input[type="radio"] + .control-mark{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.control-input[type="radio"]:checked + .control-mark::before{
    content:"";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #000;
}
.control-label{
    font:inherit;
    line-height: 23px;
}
/* range */
.catalog-filter-group:nth-child(3){
    margin-right: 81px;
}
.range-wrapper-inputs{
    display: flex;
    width: 287px;
    height: 48px;
    box-sizing: border-box;
    margin-bottom: 40px;
}

.catalog-filter-label{
    display: flex;
    align-items: center;
    font: inherit;
    color: rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    width: 143px;
    height: 48px;
    padding: 0 20px;
}

.catalog-filter-label:first-of-type{
    border: 2px solid   #fff;
    border-radius: 4px 0 0 4px;
    border-right: none;
}
.catalog-filter-label:last-of-type{
    border: 2px solid #FFFFFF;
    border-radius: 0 4px 4px 0;
}
.catalog-filter-input{
    width: 80px;
    padding: 0;
    font: inherit;
    color:#FFFFFF;
    border:none;
    background-color: transparent;
    appearance: textfield; 
}
/* Состояния input and label*/
.catalog-filter-label:first-of-type:hover{
    border: 2px solid   rgba(255, 255, 255, 0.6);
    border-radius: 4px 0 0 4px;
}
.catalog-filter-label:first-of-type:hover + .catalog-filter-label:last-of-type{
    border-left: none;
}
.catalog-filter-label:last-of-type:hover{
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 4px;
}

.catalog-filter-input:focus{
    outline: none;    
}
.catalog-filter-label:first-of-type:focus-within,
.catalog-filter-label:last-of-type:focus-within{
    box-shadow: 0 0 0 3px #83B3D3,
          inset 0 0 0 3px #83B3D3;    
}
.catalog-filter-label:first-of-type:active,
.catalog-filter-label:last-of-type:active{
    background-color: #756257;
}
.catalog-filter-input::-webkit-outer-spin-button,
.catalog-filter-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
.range-scale {
	position: relative;
	height: 4px;
    background-color:rgba(255, 255, 255, 0.3);    
}
.range-bar {
    position: absolute;
    height: 4px;
    background-color: #fff;
  }
  .range-toggle {
    position:absolute;
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border:none;
    border-radius: 5px;
    cursor: pointer;
  }
  .range-toggle:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  }
  .range-toggle:active,
  .range-toggle:focus {    
    outline: 3px solid #83B3D3;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  }
  .toggle-min {
    top:-8px;
    left:-10px;
  }  
  .toggle-max {
    top:-8px;
    right:-10px;
  }
  /* box-button */
  .box-button{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 45px;      
  }
  /* the end filter-header */
  /* sorting */
.sorting{
    margin-bottom: 45px;/* толкаем offer вниз */
}
.sorting-container{
    padding: 0 70px;
    display: flex;
    justify-content: space-between;
}
.sorting-title{
font-weight: 700;
font-size: 30px;
line-height: 39px;
text-transform: uppercase;
text-align: left;
margin-right: 100px; /* толкаем input на место*/
}

.sorting-select-control{
    width: 287px;
    height: 48px;
    border: 2px solid #E6E6E6;
    border-radius: 4px;
}
.sorting-select-control:hover,
.sorting-select-control:focus,
.select-control:hover,
.select-control:focus{
    outline:  2px solid #83B3D3;
    border: none;
}
.sorting-select-control:active,
.select-control:active{
    opacity: 0.3;
}
.sorting-select-control > option{
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px; 
    line-height: 23px;
    color: #333333;
}
.sorting-list{
    display: flex;
}
.sorting-item:not(:last-child){
    margin-right: 8px;
}
.sorting-item{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 14px;
}
.sorting-item:first-child{
    background-image: url(../images/icons/mode-tile.svg);
}
.sorting-item:nth-child(2){
background-image: url(../images/icons/mode-slideshow.svg);
}
.sorting-item:last-child{
    background-image: url(../images/icons/mode-list.svg);
}
.sorting-item a{
    width: 48px;
    height: 48px;
    display: block;
    border: 2px solid #E6E6E6;
    border-radius: 4px;
}
.sorting-item a:hover,
.sorting-item a:focus,
.sorting-current a:hover,
.sorting-current a:focus{
    outline:  2px solid #83B3D3;
    border-color: transparent;
}
.sorting-item a:active,
.sorting-curren a:active{
    outline: 2px solid #83B3D3;
    border-color: transparent;
}
.sorting-current a{
    border-color: #000;
}
/* the end sorting */
/* offer */
.offer{
    margin-bottom: 30px;/* толкаем пагинацию вниз */
}
.offer-container{       
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 70px;
}
.offer-list{
    border-bottom: 1px solid #E6E6E6;
    margin-bottom: 30px;/* толкаем кнопку вниз*/
}
.offer-item{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #E6E6E6;
    padding: 30px 0;
}
.offer-item-wrap{
    display: flex;
}
.hotel-image{
    width: 100%;
    height: 100%;
    display: block;
}
.offer-item-link{
    text-decoration: none;
    color: #000;
    margin-right: 36px;
}
.offer-item-link:hover,
.offer-item-title:hover{
    opacity: 0.6;
}
.offer-item-link:focus{
    outline: 2px solid #83B3D3;
}
.offer-item-link:active,
.offer-item-title:active{
    opacity: 0.3;
}
.offer-title-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr auto;
}
.offer-item-title{
    font-size: 24px;
    line-height: 31px;
    text-align: left;
    grid-column: 1/-1;  
}
.offer-item-title a{
    text-decoration: none;
    color: #333;
}
.offer-item-title a:focus{
    outline: 2px solid #83B3D3;
    border-radius: 10px;
    padding: 5px 10px;
}
.offer-item span{
    line-height: 23px;
    color: #333333;
}
.offer-title-box .btn-go-to,
.offer-title-box .btn-add{
    grid-row: 4/5;
}
.offer-rating{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.rating-star-list{
    display: inline-block;
    margin: 0 auto;
}
.rating-star-list li{
    display: inline-block;
    height: 17px;
    width: 17px;
    margin-right: 7px;
    background-image: url(../images/icons/aster.svg);
}
.rating-star-list li:last-child{
    margin-right: 0;
}
.table-rating{
    width: 160px;
    height: 37px;
    font-size: 16px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color:#333;
    background: #F2F2F2;
    border-radius: 4px;
}
.add-to-kart{
    background-color: #7DB54F;
}
/* the end offer */
/* pagination */
.pagination{
    width: 1056px;
    height: 55px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;/* толкаем "подписку" вниз */
}
.pagination-list{
    display: flex;
}
.pagination-item{
    margin-right: 7px;
}
.pagination-item:last-child{
    margin-right: 0;
}
.pagination-link{
    display: inline-block;
    width: 55px;
    height: 55px;
    font-weight: 700;
    font-size: 20px;
    line-height: 55px;
    color: #fff;
    background-color: #83B3D3;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
}
.pagination-current{
    background-color: #F2F2F2;
    color: #000;
}
.pagination-control{
    width: 175px;
    height: 23px;
    margin-right: 50px;
}
.select-control{
    width: 160px;
    height: 48px;
    padding: 0 17px;
    background-color: #fff;
    border: 2px solid #E6E6E6;
    border-radius: 4px;
}
/* the end pagination */
/* catalog-mailing */
.catalog-mailing{
    margin-bottom: 135px;
}
/* the end catalog-mailing */
/* the end catalog */
