@font-face{
    font-family: "PT sans", sans-serif;    
    font-weight: 400;
    font-style: normal;
   src: url(../fonts/ptsans-400.woff2) format(woff2);
    font-display: swap;
}

@font-face{
    font-family: "PT sans", sans-serif;  
    font-weight: 700;
    font-style: normal;
    src: url(../fonts/ptsans-700.woff2) format(woff2);
    font-display: swap;
}
.html, body{
    height: 100%;
}
body{
    margin: 0 auto;
    padding: 0;
    border-left: 1px solid green; border-right:1px solid green;/*vremenno*/
    min-height: 100%;
    max-width: 1280px;    
    font-family: "PT sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    background-color: #f2f2f2;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
h1, h2, h3, p{
    text-align: center;
    font-style: normal;
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-left:1px solid red; border-right:1px solid red;/*vremenno*/
}
.button{
    font-family: inherit;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;   
    height: 37px;
    display: inline-block;
    border-radius: 4px;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
}
.btn-go-to, .search-button{
    background-color: #756257;
}
.btn-mailing, .btn-add, .btn-sub, .btn-more{
    background-color: #83B3D3;
}
.btn-go-to{
    width: 151px;
    line-height: 36px;
}
.btn-mailing, .search-button{
    font-weight: 700;
    font-size: 20px;
    height: 60px;
}
.search-button{
width: 575px;
line-height: 36px;
border-radius: 10px;
}
.btn-mailing{
    width: 200px;
    line-height: 26px;
    border-radius: 0px 10px 10px 0px;
}
.btn-add, .btn-sub{
    width: 160px;    
}
.btn-sub{
    height: 48px;
    margin-bottom: 25px;
}
.btn-reset{
    background-color: transparent;
}
.btn-more{
    width: 625px;
    height: 55px;
    margin: 0 auto 30px;
}
/* состояния */
.btn-go-to:hover, .search-button:hover{
    background-color: #615048;
}
.btn-mailing:hover, .btn-add:hover,
.btn-sub:hover, .btn-more:hover{
    background-color:  #68A2CA;
}
.btn-reset:hover{
    color:rgba(255, 255, 255, 0.6);
}
.btn-go-to:focus, .search-button:focus, .btn-reset:focus{
    outline:3px solid #83B3D3;
}
.btn-mailing:focus, .btn-add:focus,
.btn-sub:focus, .btn-more:focus{
    outline: 3px solid #756257;
}
.btn-go-to:active, .search-button:active, .btn-reset:active{
    background-color: #615048;
    color:rgba(255, 255, 255, 0.3);
    outline-color: transparent;
}
/* header */
.page-header,  .page-footer{
    color: #000;
    background-color: #fff;
}
.page-header-container,
.page-footer-container,
.sorting-container,
.offer-container,
.filter-container{
    max-width: 1060px;    
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.page-header-container{
    min-height: 70px;
    position: relative;
}
.page-header-container img{ /* размещение логотипа по-центру */
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.page-header-container > a{
    width: 138px;
    position: relative;
    right: 50px;
}
.navigation, .user-menu{
    display: flex;
    align-items: center;
}
.navigation-list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;/* на случай переполнения.*/
}
.navigation-link{
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    color: #000;
    background-color: #fff;
    text-decoration: none;
    padding: 6px 12px;
    display:block;
    margin-right: 10px;
}
.navigation-item:first-child,
.navigation-item:last-child{
    position: relative;
}
.active::after{
    content: "";
    position: absolute;    
    left: 0;
    right: 10px;
    bottom: -18px;
    border: 2px solid #756257;
}
.user-menu-link{
    display: block;
    width: 38px;
    height: 38px;
    position: relative;
}
.user-menu-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    fill: #000;
}
.user-menu-item:first-child .user-menu-link{
    margin-right: 12px;
}
.user-menu-item:nth-child(2) .user-menu-link{
    margin-bottom: 10px;
    margin-right: 20px;
}
.navigation-link:hover{
    color: #756257;
}
.user-menu-link:hover .user-menu-icon{
    fill: #756257;
}
.navigation-link:focus,.user-menu-link:focus{
    color: #756257;
    outline:3px solid #83B3D3;
    border-radius: 10px;
}
.user-menu-link:focus .user-menu-icon{
    fill: #756257;
}
.navigation-link:active,.user-menu-link:active{
    color: rgba(117, 98, 87, .3);
    outline-color: transparent;
}
.user-menu-link:active .user-menu-icon{
    fill: rgba(117, 98, 87, .3);
}
/** the end header **/
/* section main-top */
.main-container{
    flex-grow: 1;
}
.wrap-figure{
    background-image: url(../images/foto/bgtop.jpg);/* фон. фотография для секции */
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 51px;
}
.wrap-figure::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 57px;
    background-image: url(../images/icons/divider.svg);
}
.main-top-figure{
    display: flex;
    width: 458px;
    height: 352px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
}
.figure-vector:first-child{
    margin-bottom: 10px;
}
.figure-vector:nth-child(2){
    margin-bottom: 55px;
}
.wrap-title{
    background-color:  #fff;
    padding: 63px;
}
.main-top-title{    
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 23px;
  }
.main-top-caption{
   font-weight: 400;
   font-size: 22px;
   line-height: 36px;
   margin-bottom: 25px;/* толкаем нижний паддинг, иначе надо задовать высоту блока????*/
}
/* the end section main-top */
/* section advantages */
.advantages-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.advantages-item:nth-child(2){
    grid-column: 2/4;
}
.advantages-item:nth-child(6){
    grid-column: 1/3;
}
.advantages img{
    width: 100%;
    height: auto;
    display: block;
}
.advantages-item{
    position: relative;
    background-color: #83B3D3;
    min-height: 384px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;

}   
.advantages-item:nth-child(2), .advantages-item:nth-child(6){
	padding:0;
}
.advantages .advantages-item__white{
    color:#fff;
}
.advantages-title{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 25px;
}
.advantages-namber{
    margin-bottom: 25px;
}
.advantages-description, .advantages-namber{
    font-weight: 400;    
}
.advantages-item:nth-child(3),
.advantages-item:nth-child(5),
.advantages-item:nth-child(8),
.advantages-item:nth-child(10){
    background-color: rgba(131, 179, 211, .12);

}
.advantages-item:nth-child(9){
    background-color: rgba(131, 179, 211, .2);
}/*
.advantages-item:nth-child(3),
.advantages-item:nth-child(4),
.advantages-item:nth-child(5){
    разместить контент на нужной позиции?????
}*/
.advantages-item:nth-child(3)::before,
.advantages-item:nth-child(4)::before,
.advantages-item:nth-child(5)::before{
    content:"";
    position: absolute;
    bottom: 223px;
    left: 50%;
    transform: translateX(-50%);
    width: 75px;
    height: 76px;
    background-repeat: no-repeat;
}
.advantages-item:nth-child(3)::before{
    background-image: url(../images/icons/hous-icon.svg);
}

.advantages-item:nth-child(4)::before{
    content: url(../images/icons/burger-icon.svg);
}
.advantages-item:nth-child(5)::before{
    background-image: url(../images/icons/present-box-icon.svg);
}
.advantages-item:nth-child(4){
    background-color: #fff;
}
/* the end section advantages */
/* section main-search */
.main-search{
    background-color: #fff;
    padding: 90px 0;
}
.main-search-title{   
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 15px;
}
.main-search-caption{
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 70px;
}
.main-search-form{
    display: flex;
    justify-content: center;
}
/* the end section main-search */
/* mailing */
.mailing{
    background-image: url(../images/foto/bg-mailing.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    color:#fff;
    padding: 93px;
}
.mailing-title, .catalog-mailing-titel{
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 30px;
}/*в макете отстыпы сверху между надписями в 15 и 25 но сами блоки в два раза шире чем в браузере*/
.mailing-caption, .catalog-mailing-text{
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 45px;
}
.mailing-form{
    display: flex;
    justify-content: center;
}
.mailing-text{
    width: 600px;
    height: 58px;
    border-radius:  10px 0px  0px 10px;
    border: none;
    background-color: #F2F2F2;
}
.mailing-text:hover{
    background-color: #E6E6E6;
}
.mailing-text:focus{
   outline: 3px solid #83B3D3;
}
.mailing-text:active{
    background-color: #E6E6E6;
    outline: 2px solid #000000;
}
input[placeholder]{
    font-size: inherit;
    line-height: 26px;
    padding-left: 22px;
}
/* the end mailing */
/* footer */
.page-footer-container{
    min-height: 120px;
}
.footer-social, .footer-social-list{
    display: flex;
    align-items: center;
}

.footer-social-item{
    margin-right: 5px;
}
.footer-social-link{
    width: 40px;
    height: 42px;
    display: block;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
}
.footer-social-twitt{
    background-image:url(../images/icons/twitter-icon.svg);
    background-size: 18px 15px;
}
.footer-social-facebook{
    background-image:url(../images/icons/facebook-icon.svg);
    background-size: 10px 18px;
}
.footer-social-youtube{
    background-image:url(../images/icons/youtube-icon.svg);
    background-size: 20px 16px;
}
.footer-contact{
    display: flex;
    align-items: center;
}
.footer-contact-phone{
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    padding: 15px;    
}
.footer-logo{
    display: flex;
    align-items: center;
}
.footer-logo-link{
    display: block;
    padding: 10px;
}
.footer-contact-phone:hover{
    color: #756257;    
}
.footer-social-link:focus, .footer-contact-phone:focus,
.footer-logo-link:focus{
    outline:3px solid #83B3D3;
    border-radius: 10px;
}
.footer-contact-phone:active{
    color: #756257;
    opacity: 0.3;    
}
/* the end footer */
/* ctalog */
.catalog{
    background-color: white;
    color: #333333;
}
/* catalog-search */
.catalog-search{
    background-image: url(../images/foto/bg-search-filer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    margin-bottom: 45px;/* толкаем sorting вниз*/
}
.filter-container{
    flex-direction: column;
    padding-top: 35px;
    padding-bottom: 85px;
}
/* filter-header */
.filter-header{
    margin-bottom: 45px;/* толкаем форму вниз */
}
.filter-header-title{
    font-size: 60px;
    line-height: 78px;
    text-align: left;
}
.breadcrumbs{
display: flex;
align-items: center;
}
.breadcrumbs-item{
    font-size: 16px;    
    margin-right: 20px;
}
.breadcrumbs-link{
    position: relative;
    min-height: 12px;
    min-width: 12px;
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 8px;
}

.breadcrumbs-item:first-child .breadcrumbs-link::before{
    content: "";
    position: absolute;
    top: 7px;
    left: 5px;
    height: 12px;
    width: 12px;
    background-image: url(../images/icons/home\ 1.svg);
    background-repeat: no-repeat;
}
.breadcrumbs-link:hover{
    opacity: 0.6;
}
.breadcrumbs-link:focus{
    outline: 3px solid #83B3D3;
    border-radius: 4px;
}
.breadcrumbs-link:active{
    opacity: 0.3;
}
.breadcrumbs-item:first-child .breadcrumbs-link::after{
    content: "";
    position: absolute;
    top: 10px;
    left: 35px;
    height: 8px;
    width: 8px;
    background-image: url(../images/icons/shevron.svg);
    background-repeat: no-repeat;
}
.breadcrumbs-item:last-child .breadcrumbs-link{
    padding: 3px 8px;
}
/* the end filter-header */
/* form > catalog-filter */
.catalog-filter{
    display: flex;
}
.catalog-filter-group{
    margin: 0;
    padding: 0;
    border: 0;
}
.catalog-filter-group:first-child{
    margin-right: 55px;/* -10px*/
}
.catalog-filter-title{ /* на 27рх шире чем в макете */
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 30px;
}
.catalog-filter-item{
    margin-bottom: 16px;
}
/* Control */
.control {
    position: relative;
    display: block;
    padding-left: 40px;
}
  
  /* Mark */
.control-mark {
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    border-radius: 4px;
}
.control-mark:hover {
    background-color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
}
.control-mark:focus { 
    background-color: rgba(255, 255, 255, 0.6);  
    outline: 3px solid #83B3D3;
}
.control-mark:active{
    background-color: rgba(255, 255, 255, 0.3);
}
.control-input[type="checkbox"]:checked + .control-mark::before{
    content: url(../images/icons/mark.svg);
    position: relative;
    left: 4px;
    bottom: 2px;   
}
.catalog-filter-group:nth-child(2){
    margin-right: 155px;
}
.control-input[type="radio"] + .control-mark{
    border-radius: 50%;
}
.control-input[type="radio"]:checked + .control-mark::before{
    content:"";
    position: absolute;
    top:50%;
    left: 50%;
    transform: translateY(-5px) translateX(-5px);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #000;
}
/*.control-input[type="radio"]:checked + .control-mark{
    box-sizing: border-box;
    border: 5px solid #FFFFFF;
    background-color: #000;
} *//* почему так нельзя? проще и короче, фокус через аутлайн */
.control-label{
    font:inherit;
    line-height: 23px;
}
/* range */
.catalog-filter-group:nth-child(3){ /* last-child не применился????*/
    margin-right: 72px;
}
.range-wrapper-inputs{
    display: flex;
    width: 287px;
    height: 48px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 40px;
}
.catalog-filter-label{
    display: flex;
    align-items: center;
    font: inherit;
    color: rgba(255, 255, 255, 0.3);
    width:103px;
    height: 45px;
    padding: 0 20px;   
}
.catalog-filter-label:first-of-type{
    border-right: 2px solid #FFFFFF;
}
.catalog-filter-input{
    width: 80px;
    padding: 0;
    font: inherit;
    color:#FFFFFF;
    border: none;
    background-color: transparent;    
    appearance: textfield; 
}
.catalog-filter-input::-webkit-outer-spin-button,
.catalog-filter-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
.range-scale {
	position: relative;
	height: 4px;
    background-color:rgba(255, 255, 255, 0.3);    
}
.range-bar {
    position: absolute;
    height: 4px;
    background-color: #fff;
  }
  .range-toggle {
    position:absolute;
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border:none;
    border-radius: 5px;
    cursor: pointer;
  }
  .range-toggle:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  }
  .range-toggle:active,
  .range-toggle:focus {    
    outline: 3px solid #83B3D3;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  }
  .toggle-min {
    top:-8px;
    left:-10px;
  }  
  .toggle-max {
    top:-8px;
    right:-10px;
  }
  /* box-button */
  .box-button{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 45px;      
  }
  /* the end filter-header */
  /* sorting */
.sorting{
    margin-bottom: 45px;/* толкаем offer вниз */
}
.sorting-title{
font-weight: 700;
font-size: 30px;
line-height: 39px;
text-transform: uppercase;
text-align: left;
margin-right: 100px; /* толкаем input на место*/
}/*чмсло 38 должнобыть переменной величиной ????*/

.sorting-select-control{
    width: 287px;
    height: 48px;
    border: 2px solid #E6E6E6;
    border-radius: 4px;
}/*галочка в инпуте другая и не наместе, паддинг не подвинул, after к инпуту не прицепишь -
нет содкржимого и закрывающего тега. В уроках ни слова и в стилях барбершопа тоже*/
.sorting-select-control > option{
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px; 
    line-height: 23px;
    color: #333333;
}
.sorting-list{
    display: flex;
}
.sorting-item{
    width: 48px;
    height: 48px;
    margin-left: 8px;
    border: 2px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 14px;    
}
.sorting-item:first-child{
    background-image: url(../images/icons/mode-tile.svg);
}
.sorting-item:nth-child(2){
background-image: url(../images/icons/mode-slideshow.svg);
}
.sorting-item:last-child{
    background-image: url(../images/icons/mode-list.svg);
}
.sorting-current{
    border-color: #000;
}
/* the end sorting */
/* offer */
.offer{
    margin-bottom: 30px;/* толкаем пагинацию вниз */
}
.offer-container{
    flex-direction: column;
}
.offer-list{
    border-bottom: 1px solid #E6E6E6;
    margin-bottom: 30px;/* толкаем кнопку вниз*/
}
.offer-item{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #E6E6E6;
    padding: 30px 0;
}
.offer-item-wrap{
    display: flex;
}
.offer-item-link{
    display: block;
    height: 120px;/*без "высоты" добавляется снизу 5рх "блок" ни чего не дает*/
    text-decoration: none;
    color: #000;
    margin-right: 36px;
}
.offer-title-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr auto;
}
.offer-item-title{
    font-size: 24px;
    line-height: 31px;
    text-align: left;
    grid-column: 1/-1;  
}
.offer-item span{
    line-height: 23px;
    color: #333333;
}
.offer-title-box .btn-go-to,
.offer-title-box .btn-add{
    grid-row: 4/5;
}
.offer-rating{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.rating-star-list{
    display: inline-block;
    margin: 0 auto;
}
.rating-star-list li{
    display: inline-block;
    height: 17px;
    width: 17px;
    margin-right: 7px;
    background-image: url(../images/icons/aster.svg);
}
.rating-star-list li:last-child{
    margin-right: 0;
}
.table-rating{
    width: 160px;
    height: 37px;
    font-size: 16px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color:#333;
    background: #F2F2F2;
    border-radius: 4px;
}
.add-to-kart{
    background-color: #7DB54F;
}
/* the end offer */
/* pagination */
.pagination{
    width: 1056px;
    height: 55px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;/* толкаем подписку вниз */
}
.pagination-list{
    display: flex;
}
.pagination-item{
    margin-right: 7px;
}
.pagination-item:last-child{
    margin-right: 0;
}
.pagination-link{
    display: inline-block;
    width: 55px;
    height: 55px;
    font-weight: 700;
    font-size: 20px;
    line-height: 55px;
    color: #fff;
    background-color: #83B3D3;
    text-align: center;
    text-decoration: none;
}
.pagination-link:hover{
    background-color:  #68A2CA;
}
.pagination-current{
    background-color: #F2F2F2;
    color: #000;
}
.pagination-control{
    width: 175px;
    height: 23px;
    margin-right: 50px;
}
.select-control{
    width: 160px;
    height: 48px;
    padding: 0 17px;
    background-color: #fff;
    border: 2px solid #E6E6E6;
    border-radius: 4px;
}/*c "голочкой вниз" таже проблема, что и в сортировке */
/* the end pagination */
/* catalog-mailing */
.catalog-mailing{
    margin-bottom: 135px;
}